.success {
    color: green;
    background: lightgray;
    font-size: 20px;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    margin-bottom: 10px;
}
.error {
    color: red;
    background: lightgray;
    font-size: 20px;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    margin-bottom: 10px;
}